html {
  font-size: calc(18px + 0.25vw);
}

body {
  color: #1a1a1a;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

header {
  background-color: #f0f0f0;
  border-radius: 7px 7px 0 0;
  margin: 25px 5px 0;
  padding: 10px 0 0;
}

header > :not(:last-child) {
  padding: 0 20px;
}

header p {
  margin-top: 10px;
}

main, aside {
  background-color: #f0f0f0;
  margin: 0 5px;
  padding: 10px 20px;
}

footer {
  background-color: #f0f0f0;
  border-radius: 0 0 7px 7px;
  margin: 0 5px 25px;
  padding: 10px 20px;
}

h1 {
  color: #1b262c;
  font-family: 'Roboto';
  font-size: 3rem;
  margin: 30px 0 0;
}

h2 {
  color: #1b262c;
  font-family: 'Roboto';
  margin: 60px 0;
}

h3, h4, h5, h6 {
  color: #1b262c;
  font-family: 'Roboto';
}

figure {
  background-color: white;
  margin: 0;
  padding: 20px 0;
}

figure > :not(:first-child) {
  padding: 0 10px;
}

@media only screen and (max-width: 927px) {
  figure {
    background-color: #f0f0f0;
    padding-bottom: 0;
  }
}

img {
  width: 100%;
  max-width: 900px;
}

a {
  color: #9399ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ffa41b;
}

ul {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

li {
  line-height: 2;
  margin: 40px 0;
}

blockquote {
  font-family: 'Open Sans Condensed';
  font-size: 1.15rem;
  font-style: italic;
  line-height: 2;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  text-align: left;
}

.related-document {
  font-weight: bold;
}
